// General

body {
    font-family: "Raleway", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}

@media screen and (min-width: 1024px) {
    img {
        max-width: 100%;
    }
}


@media screen and (max-width: 991px) {
    img {
        max-width: 80%;
    }
}

hr {
    border: 1px solid white;
}

span {
    color: #fff;
    text-align: center;
    font-weight: 900;

}

@media screen and (min-width: 1024px) {
    span {
        padding: 0px 160px 0px 160px;

    }
}

@media screen and (max-width: 991px) {
    span {
        padding: 20px;
    }
}

// investamart-quiz

.investamart-quiz {
    text-align: center;

    .card {
        align-items: center;
        background: url('../images/Quiz/quiz-ornament.png') no-repeat center top 20%;
        background-color: #FBB03B;
        max-width: 100%;

        .top-title {
            color: #fff;
            padding: 40px;
        }

        .hero-image {
            padding: 0px 40px 0px 40px;
        }

        @media screen and (min-width: 1024px) {
            .hero-image {
                margin-top: 40px;
            }
        }

        p {
            color: #fff;
            font-weight: 600;
            text-align: center;
        }

        @media screen and (min-width: 1024px) {
            p {
                font-size: 24px;
                padding: 60px 160px 40px 160px;

            }
        }

        @media screen and (max-width: 991px) {
            p {
                font-size: 10px;
                padding: 20px 50px 0px 50px;
            }
        }

        .btn-mulai {
            color: #fff;
            background-color: #000;
            padding-right: 20px;
            padding-left: 20px;
            border-radius: 10px;
            font-size: 24px;
            text-transform: uppercase;
            font-weight: 900;
            transition: 0.5s;
        }

        .btn-mulai:hover {
            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.15);
            background: #fff;
            color: #000;
        }

        @media screen and (min-width: 1024px) {
            .btn-mulai {
                font-size: 24px;
                margin-bottom: 200px;
            }
        }

        @media screen and (max-width: 991px) {
            .btn-mulai {
                font-size: 10px;
                margin-bottom: 60px;
            }
        }

        h1 {
            color: #ED1E79;
            text-transform: uppercase;
            font-weight: bold;
            text-align: center;
        }

        @media screen and (min-width: 1024px) {
            h1 {
                font-size: 98px;
                padding: 120px
            }
        }

        @media screen and (max-width: 991px) {
            h1 {
                font-size: 28px;
                padding: 20px
            }
        }

        @media screen and (min-width: 1024px) {
            .hero-icon {
                margin-top: 40px;
                max-width: 100%;
            }
        }

        @media screen and (max-width: 991px) {
            .hero-icon {
                max-width: 50%;
            }
        }

        @media screen and (min-width: 1024px) {
            form {
                padding: 0px 100px 0px 100px;
                margin-bottom: 200px;
            }
        }

        @media screen and (max-width: 991px) {
            form {
                padding: 0px 20px 0px 20px;
                margin-bottom: 80px;
            }
        }

        .question {
            color: #fff;
            text-transform: uppercase;

            label {
                font-weight: 900;
            }

            @media screen and (min-width: 1024px) {
                label {
                    font-size: 42px;
                }
            }

            @media screen and (max-width: 991px) {
                label {
                    font-size: 20px;
                }
            }

            ul {
                li {
                    font-weight: 900;
                    list-style: none;
                }

                @media screen and (min-width: 1024px) {
                    li {
                        font-size: 42px;
                        margin-left: 100px;
                    }
                }

                @media screen and (max-width: 991px) {
                    li {
                        font-size: 20px;
                        margin-left: 26px;
                    }
                }
            }

            @media screen and (min-width: 1024px) {
                ul {
                    margin-bottom: 200px;
                }
            }

            @media screen and (max-width: 991px) {
                ul {
                    margin-bottom: 80px;
                }
            }
        }

        .submition {

            @media screen and (min-width: 1024px) {
                span {
                    font-size: 24px;
                }
            }

            @media screen and (max-width: 991px) {
                span {
                    font-size: 12px;
                }
            }

            .btn-lanjut {
                color: #fff;
                background-color: #000;
                border-radius: 10px;
                font-size: 24px;
                text-transform: uppercase;
                font-weight: 900;
                margin-top: 18px;
                transition: 0.5;
            }

            .btn-lanjut:hover {
                box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.15);
                background: #fff;
                color: #000;
            }

            @media screen and (min-width: 1024px) {
                .btn-lanjut {
                    padding-right: 20px;
                    padding-left: 20px;
                    font-size: 24px;
                    margin-bottom: 40px;
                }
            }

            @media screen and (max-width: 991px) {
                .btn-lanjut {
                    padding: 10px;
                    font-size: 10px;
                    margin-bottom: 20px;
                }
            }

            .btn-ulang {
                color: #fff;
                background-color: #000;
                border-radius: 10px;
                font-size: 24px;
                text-transform: uppercase;
                font-weight: 900;
                margin-top: 18px;
                transition: 0.5;
            }

            .btn-ulang:hover {
                box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.15);
                background: #fff;
                color: #000;
            }

            @media screen and (min-width: 1024px) {
                .btn-ulang {
                    padding-right: 20px;
                    padding-left: 20px;
                    font-size: 24px;
                    margin-bottom: 40px;
                }
            }

            @media screen and (max-width: 991px) {
                .btn-ulang {
                    padding: 10px;
                    font-size: 10px;
                    margin-bottom: 20px;
                }
            }
        }
    }

    @media screen and (min-width: 1024px) {
        .card {
            background-size: 100%;
        }
    }

    @media screen and (max-width: 991px) {
        .card {
            background-size: 100%;

        }
    }

}

// investamart-result
 .investamart-result {
    .card {
        text-align: center;
        max-width: 100%;

        .top-title {
            color: #fff;
            padding: 40px;
        }

        .hero-image-result {
            padding: 0px 20px 0px 20px;
        }

        @media screen and (min-width: 1024px) {
            .hero-image-result {
                margin-bottom: 100px;
            }
        }

        @media screen and (max-width: 991px) {
            .hero-image-result {
                margin-bottom: 40px;
            }
        }

        @media screen and (min-width: 1024px) {
            .hero-icon {
                margin-top: 40px;
                max-width: 100%;
            }
        }

        @media screen and (max-width: 991px) {
            .hero-icon {
                max-width: 50%;
            }
        }

        p {
            color: #fff;
            font-weight: 600;
            text-align: center;
        }

        @media screen and (min-width: 1024px) {
            p {
                font-size: 24px;
                padding: 60px 160px 40px 160px;

            }
        }

        @media screen and (max-width: 991px) {
            p {
                font-size: 10px;
                padding: 20px
            }
        }

        .conclusion {
            align-items: center;

            h4 {
                text-transform: uppercase;
                color: #fff;
                text-align: center;
                font-weight: 600;
            }

            @media screen and (min-width: 1024px) {
                h4 {
                    font-size: 32px;

                }
            }

            @media screen and (max-width: 991px) {
                h4 {
                    font-size: 18px;
                }
            }

            h1 {
                text-transform: uppercase;
                color: #fff;
                text-align: center;
                font-weight: 900;
            }

            @media screen and (min-width: 1024px) {
                h1 {
                    font-size: 98px;

                }
            }

            @media screen and (max-width: 991px) {
                h1 {
                    font-size: 32px;
                }
            }

            h3 {
                text-transform: uppercase;
                color: #FCEE21;
                text-align: center;
                font-weight: 900;
            }

            @media screen and (min-width: 1024px) {
                h3 {
                    padding: 0px 160px 0px 160px;
                    font-size: 32px;

                }
            }

            @media screen and (max-width: 991px) {
                h3 {
                    padding: 0px 40px 0px 40px;
                    font-size: 18px;
                }
            }

            .btn-share {
                color: #fff;
                background-color: #000;
                padding: 14px 20px;
                border-radius: 10px;
                text-transform: uppercase;
                font-weight: 900;
                transition: 0.5;
            }

            .btn-share:hover {
                box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.15);
                background: #fff;
                color: #000;
            }

            @media screen and (min-width: 1024px) {
                .btn-share {
                    // width: 14%;
                    font-size: 24px;
                    margin-bottom: 40px;
                }
            }

            @media screen and (max-width: 991px) {
                .btn-share {
                    font-size: 10px;
                    margin-bottom: 20px;
                }
            }
        }

        .investation {

            input[type=text] {
                width: 60%;
                font-weight: 900;
                text-transform: uppercase;
                padding: 12px 20px;
                color: #808080;
                display: inline-block;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
            }

            input[type=email] {
                width: 60%;
                font-weight: 900;
                text-transform: uppercase;
                color: #808080;
                padding: 14px 20px;
                border: none;
                border-radius: 4px;
                cursor: pointer;
            }

            input[type=number] {
                width: 60%;
                font-weight: 900;
                text-transform: uppercase;
                color: #808080;
                padding: 14px 20px;
                border: none;
                border-radius: 4px;
                cursor: pointer;
            }

            input[type=submit] {
                font-weight: 900;
                text-transform: uppercase;
                background-color: #000;
                color: white;
                padding: 14px 20px;
                border: none;
                border-radius: 10px;
                cursor: pointer;
                transition: 0.5;
            }

            input[type=submit]:hover {
                box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.15);
                background: #fff;
                color: #000;
            }

            @media screen and (min-width: 1024px) {
                input[type=submit] {
                    font-size: 24px;
                    margin-bottom: 80px;
                }
            }

            @media screen and (max-width: 991px) {
                input[type=submit] {
                    font-size: 10px;
                    margin-bottom: 40px;
                }
            }

        }

    }

    @media screen and (min-width: 1024px) {
        .card {
            background-size: 100%;
        }
    }

    @media screen and (max-width: 991px) {
        .card {
            background-size: 100%;

        }
    }
}


// Goal Gue
.goal-gue {
    .card {
        align-items: center;
        background: url('../images/goalgue-ornament.png') no-repeat center top 20%;
        background-color: #FBB03B;
        max-width: 100%;

        h1 {
            color: #ED1E79;
            text-transform: uppercase;
            font-weight: bold;
            text-align: center;
        }

        @media screen and (min-width: 1024px) {
            h1 {
                font-size: 98px;
                padding: 40px 120px
            }
        }

        @media screen and (max-width: 991px) {
            h1 {
                font-size: 28px;
                padding: 20px
            }
        }

        .form-goal-gue {
            text-align: center;
            font-weight: 900;
            text-transform: uppercase;

            input[type=text] {
                font-weight: 900;
                text-transform: uppercase;
                padding: 12px 20px;
                color: #808080;
                display: inline-block;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
            }

            @media screen and (min-width: 1024px) {

                input[type=text],
                input[type=number] {
                    width: 100%;
                }
            }

            @media screen and (max-width: 991px) {

                input[type=text],
                input[type=number] {
                    width: 80%;
                }
            }

            input[type=number] {
                font-weight: 900;
                text-transform: uppercase;
                color: #808080;
                padding: 14px 20px;
                border: none;
                border-radius: 4px;
                cursor: pointer;
            }
        }

        .gue-loe-footer {
            @media screen and (min-width: 1024px) {
                img {
                    max-width: 100%;
                    padding: 0px 0px 0px 80px;
                }
            }

            @media screen and (max-width: 991px) {
                img {
                    padding: 0px 0px 0px 20px;
                    max-width: 80%;
                }
            }

            .column {
                float: left;
                width: 50%;
                padding: 10px;
            }

            @media screen and (min-width: 1024px) {
                .column {
                    margin-top: 100px;
                    margin-bottom: 80px;
                }
            }

            @media screen and (max-width: 991px) {
                .column {
                    margin-top: 20px;
                    margin-bottom: 40px;
                }
            }

            .row:after {
                content: "";
                clear: both;
            }

            p {
                font-weight: 600;
            }

            @media screen and (min-width: 1024px) {
                p {
                    font-size: 28px;
                    padding: 0px 80px 0px 40px;
                    margin-left: -160px;
                }
            }

            @media screen and (max-width: 991px) {
                p {
                    font-size: 12px;
                    padding: 0px 20px 0px 20px;
                    margin-left: -40px;
                }
            }
        }

    }

}